Safari expects MSID attribute in the SDP to contain both media stream id and media stream track id

In https://github.com/elixir-webrtc/ex_webrtc/pull/185, we stopped including appdata field in the  MSID attribute.

This means that instead of 

```
a=msid:streamid trackid
```

we are now sending

```
a=msid:streamid
```

We did it because RFC 8829 (sec. 5.2.1 and sec. 5.3.1) says that appdata should be omitted.

The reason for this can be that appdata contains media stream track id, which can be changed without renegotiation e.g. using replaceTrack so there is not much sense in sending it.

However, it looks like Safari strongly expects MSID to contain appdata field (i.e. media stream track id). Without it, a remote description is rejected with 

```
PeerConnectionBackend::setRemoteDescriptionFailed(8C757139) Set remote description failed:Expects 2 fields.
```

The task is to:
* include media stream track id in MSID attribute
* include media stream track id in SSRC attribute as it contains MSID attribute
* add a comment in the code for future reference

See also:  https://bugs.webkit.org/show_bug.cgi?id=294501
